<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
              <property name="mappings">
                     <props>
                            <prop key="userAction.do">userAction</prop>
                     </props>
              </property>
       </bean>
       <bean id="userAction" class=" com.lami.foodie.UserController">
              <property name="methodNameResolver">
                     <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                            <!-- 指定参数名为action -->
                            <property name="paramName" value="action" />
                     </bean>
              </property>
       </bean>

</beans>