<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"  xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!-- Simple target -->
    <bean id="kk" class="com.lami.foodie.aop.aop1.KK"></bean>

    <!-- MethodInterceptor -->
    <bean id="simpleMethodInterceptor" class="com.lami.foodie.aop.aop1.SimpleMethodInterceptor"/>

    <!-- ProxyFactoryBean -->
    <bean id="test1" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interfaces"><value>com.lami.foodie.aop.aop1.KK</value></property>
        <property name="target"><ref bean="kk" /></property>
        <property name="interceptorNames"><value>simpleMethodInterceptor</value></property>
    </bean>

</beans>